<footer class="footer mt-auto py-3">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <p class="d-flex mt-5 d-row justify-content-center">
        <small class="mx-3 text-muted">我们使用“站长统计”收集您的访问信息。</small>
    </p>
    <p class="d-flex mb-1 d-row justify-content-center">
        <span class="mx-3">由 SJTU-Plus 团队维护</span>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button mx-3" href="https://github.com/sjtu-plus/sjtu-plus.github.io" data-icon="octicon-star"
            data-size="large" data-show-count="true" aria-label="Star sjtu-plus/sjtu-plus.github.io on GitHub">Star</a>
    </p>
</footer>
<script>
    function copy(btn, groupNumber) {
        const el = document.createElement("textarea");
        el.value = groupNumber;
        document.body.appendChild(el);
        el.select();
        document.execCommand("copy");
        document.body.removeChild(el);
        btn.innerHTML = "复制成功";
        setTimeout(() => (btn.innerHTML = "复制"), 3000);
    }
</script>