<section class="jumbotron jumbotron-fluid text-center bg-light">
    <div class="container">
      <div class="pt-5">
        <h1>SJTU<sup>&nbsp;+&nbsp;</sup></h1>
      </div>
      <p class="lead mb-5">由 SJTU-Plus 团队运营的交大体验改善服务</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/"> 首页 </a>
        </li>
        <li class="list-inline-item">
          <a href="/verify/"> 加群验证 </a>
        </li>
        <li class="list-inline-item">
          <a href="/subjects/"> 学科交流群 </a>
        </li>
        <li class="list-inline-item">
          <a href="/freshmen-groups/"> 2020 新生交流群 </a>
        </li>
        <li class="list-inline-item">
          <a href="/websites/"> 常用网站 </a>
        </li>
      </ul>
    </div>
  </section>
  
  <style>
    *[title="站长统计"] {
      display: none;
    }
  
    .article {
      max-width: 600px;
    }
  </style>