{% load album %}

{% if groups %}

    {% group_album groups %}

{% endif %}

{% if children %}
    <div class="accordion" id="accordion-{{ id }}">

        {% for subcategory in children %}

            <div class="card">
                <div class="card-header" id="heading-{{ subcategory.id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ subcategory.id }}" aria-expanded="true"
                                aria-controls="collapse-{{ subcategory.id }}">
                            {{ subcategory.name }}
                        </button>
                    </h2>
                </div>

                <div id="collapse-{{ subcategory.id }}" class="collapse show"
                     aria-labelledby="heading-{{ subcategory.id }}"
                     data-parent="#accordion-{{ id }}">
                    <div class="card-body">

                        {% category_panel subcategory %}

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
{% endif %}

