{% extends "_layouts/default.j2" %}
{% from '_includes/categories.j2' import category_first_level %}
{% from '_includes/svg.j2' import chat_left_text %}

{% block icon_title %} {{ chat_left_text(1)}} Group+{% endblock %}
{% block title %}{{ root.name }}{% endblock %}

{% set navs = [("学科交流群", 15), ("新生群", 5)] %}

{% block content %}
<div class="py-5">
    <div class="container d-flex flex-column align-items-center">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-justified mb-5">
          {% for (name, id) in navs %}
            <li class="nav-item">
              <a class="nav-link{{ ' active' if root.id == id else '' }}" href="{{ url('index', kwargs={'root': id} ) }}">{{ name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="accordion">{{ category_first_level(root) }}</div>
      <p class="text-center mt-3">
        如果你希望将自己维护的 QQ 群加入本清单，请联系 @迟先生、@杜大佬、@小笼包
        或者 @人参果
      </p>
    </div>
  </div>
{% endblock %}
