{% from '_includes/svg.j2' import plus_square_fill %}

<!DOCTYPE html>
<html lang="zh-cn" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{% block title %}{% endblock %} | SJTU-Plus</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .navbar-brand {
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <nav class="navbar navbar-light mb-5">
        <div class="container">
          <a class="navbar-brand" href="/">
            SJTU {{ plus_square_fill(1) }}
          </a>
          <span class="text-muted">{% block icon_title %}{% endblock %}</span>
        </div>
      </nav>
      {% include '_includes/header.j2' %}
      {% block content %}{% endblock %}
    </main>
    {% include '_includes/footer.j2' %}
    <script
      type="text/javascript"
      src="https://v1.cnzz.com/z_stat.php?id=1279179639&web_id=1279179639"
    ></script>
  </body>
</html>
